<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Untitled</title>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <body>
    <form id="contest-entry" method="post" action="/submit" role="form">
      <div class="form-group">
        <h3 class="video-form">Name of the Video</h3>
        <input type="text" name="name" placeholder="Name" class="form-control">
      </div>
      <div class="form-group">
        <h3 class="video-form">Video URL</h3>
        <input type="text" name="url" placeholder="URL" class="form-control">
      </div>
      <div class="form-group">
        <h3 class="video-form">Video Title</h3>
        <input type="text" name="videoTitle" placeholder="Title" class="form-control">
      </div>
      <div class="form-group">
        <h3 class="video-form">Video Description</h3>
        <input type="text" name="videoDesc" placeholder="Description" class="form-control">
      </div>
      <button type="submit" class="btn btn-default btn-lg">Submit</button>
    </form>
  </body>
</html>